body, html {
    margin: 0;
    height: 100vh;
    overflow: hidden; /* hide default scroll */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

#video-frame {
    max-width: 100%;
    max-height: 100vh;
    display: block;
}
